* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(68, 7, 180);
}
h1 {
  color: rgb(19, 196, 209);
  font-size: 6rem;
}
button {
  background-color: rgb(8, 145, 236);
  width: 12rem;
  height: 4rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
h2 {
  color: rgb(19, 196, 209);
  font-size: 9rem;
  text-align: center;
  border-radius: 3px;
}
